<!DOCTYPE html>
<html>
<head>
    <title>Lista wydarzeń</title>
</head>
<body>
    <h1>Wszystkie wydarzenia</h1>
    <a href="{% url 'add_event' %}">Dodaj wydarzenie</a>
    <ul>
        {% for event in events %}
        <div style="border-left: 5px solid {{ category_colors[event.category] }}; padding-left: 10px; margin-bottom: 10px;">
          <strong>{{ event.title }}</strong><br>
          {{ event.date }} {{ event.time }}<br>
          <em>{{ event.category }}</em> – 
          <span style="color: {{ category_colors[event.category] }};">{{ category_colors[event.category] }}</span>
        </div>
      {% endfor %}
    </ul>
</body>
</html>
