Django==5.1.3
djangorestframework==3.16.0
psycopg2-binary==2.9.10
django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.0
PyJWT==2.9.0
coreapi==2.3.3  # For API schema documentation
pyyaml==6.0.1   # For schema generation
django-filter==25.1
Pillow==10.4.0  # For image processing